@font-face{
    font-family:"League Spartan";
    font-optical-sizing: auto;
    font-weight:400;
    font-style:normal;
    src:url("./fonts/LeagueSpartan-Regular.ttf");
}
@font-face{
    font-family:"League Spartan";
    font-optical-sizing:auto;
    font-weight:500;
    font-style:normal;
    src:url("./fonts/LeagueSpartan-Medium.ttf");
}
@font-face{
    font-family:"League Spartan";
    font-optical-sizing:auto;
    font-weight:700;
    font-style:normal;
    src:url("./fonts/LeagueSpartan-Bold.ttf");
}

:root{
/* ---- Primary colors ----- */
--clr-primary-very-dark-magneta: hsl(300, 43%, 22%);
--clr-soft-pink:hsl(333, 80%, 67%);

/* ----- Neutral colors ----- */
--clr-dark-grayish-magenta:hsl(303, 10%, 53%);
--clr-light-grayish-magenta:hsl(300, 24%, 96%);
--clr-white:hsl(0, 0%, 100%);     
}

/* ------- CSS Reset ------ */

*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
}

body {
line-height: 1.4;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}

ul{
 padding:0;
 list-style-type:none;
}


body{
    min-height:100vh;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:"League Spartan";
    background-color: var(--clr-white);  
}

body::before{
    content:"";
    position:absolute;
    inset:0;
    z-index:-1;
    background-image:url("./images/bg-pattern-top-desktop.svg");
    background-repeat:no-repeat;
    background-position:top left;
}

body::after{
     content:"";
     position:absolute;
     inset:0;
     z-index:-1;
     background-image:url("./images/bg-pattern-bottom-desktop.svg");
     background-repeat:no-repeat;
     background-position:bottom right;
}

main{
    max-width:1150px;   
    display:flex;
    flex-direction:column;
    gap:4.5rem;
    /* position:relative; */
}

.top-section{
    display:flex;
    gap:4rem;
}

.header{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

.header h1 {
    max-width:360px;
    font-size:clamp(2.85rem, 6vw, 3.75rem);
    color:var(--clr-primary-very-dark-magneta);
    font-weight:700;
    letter-spacing:-0.125rem;
    line-height:0.85; 
}

.header p{
    flex-grow:0;
    flex-shrink:1;
    max-width:450px;
    color:var(--clr-dark-grayish-magenta);
    font-size:clamp(1.15rem, 3.5vw, 1.20rem);
    font-weight:500;
}

.ratings{
     flex:1;
     display:flex;
     flex-direction:column;
     gap:1rem;
     justify-content:center;
}

.rating-bar{
    display:flex;
    gap:2rem;
    padding:1rem 0 1rem 2rem;
    background-color: var(--clr-light-grayish-magenta);
    width:fit-content;
    border-radius:0.5rem;
    align-items:center;
}

.rating-bar:nth-of-type(1){
    align-self:flex-start;
    padding-right:5rem;     
}

.rating-bar:nth-of-type(2){
    align-self:center;
    padding-right:3rem;
}

.rating-bar:nth-of-type(3){
    align-self:flex-end;
    padding-right:5rem; 
}

.rating-bar ul{
    display:flex;
    gap:0.5rem;
}

.rating-bar ul li{
    flex-grow:0;
    flex-shrink:0;
    
}

blockquote{
    color:var(--clr-primary-very-dark-magneta);
    font-size:1.0625rem;
    font-weight:700;
}

.bottom-section{
    display:flex;
    gap:2rem;
}

.testimonial-card{
     display:flex;
     flex-direction:column;
     padding-inline:2.5rem;
     padding-block:2.5rem;
     background-color: var(--clr-primary-very-dark-magneta);
     border-radius:0.5rem;
     gap:1.5rem;
     height:fit-content;
}

.testimonial-card p{
    font-size:1rem;
    font-weight:500;
    color:var(--clr-light-grayish-magenta);
}

.testimonial-card-header{
    display:flex;
    gap:1.5rem;

}

.testimonial-card-header img{
    width:40px;
    height:40px;
    border-radius:40px;
}

.testimonial-card-header span{
    display:block;
    color: var(--clr-soft-pink);
    font-weight:400;
}

.testimonial-card-header p{
    font-weight:700;
    line-height:1.3;
}


.testimonial-card:nth-of-type(2){
    margin-top:1.25rem;
}

.testimonial-card:nth-of-type(3){
    margin-top:2.5rem;
} 

footer{
    position:absolute;
    left:50%;
    bottom:2%;
    transform:translateX(-50%);
    font-size:0.625rem;  
    white-space:nowrap; 
}

@media  (max-width:1250px){
      body{
         padding:13vw 5vw;
      }
      .rating-bar:nth-of-type(n){
        padding:1rem; 
       }
}
@media (max-width:880px){
      .testimonial-card:nth-of-type(n){
        margin:0;
      } 

      .bottom-section{
        flex-direction:column;
        gap:1rem;
      }
}
    
@media (max-width:750px){
       main{
           gap:3rem;
       }

      .top-section{
          flex-direction:column;
          gap:2rem;
      }

      .bottom-section{
        flex-direction:column;
        gap:1rem;
     }

      .header h1,
      .header p{
         text-align:center;
         margin-inline:auto;
      }

      .rating-bar:nth-of-type(n){
         padding:0;
         padding-block:0.5rem;
      }

      .rating-bar{
         flex-direction:column; 
         width:100%;
         padding:0;
         text-align:center;
         margin-inline:auto;
         justify-content:center;
         gap:0.5rem;
      }

}
